html,body
  min-height 100%
body
  margin 0
  padding 0
  font-family: 'Roboto Condensed', sans-serif;

.download-buttons
  text-align center
  a
    text-align center
    display inline-block
    padding 10px 20px
    text-decoration none
    background-color #000
    color #FFF
    font-size 28px
    font-weight bold

article
  color #494949
  header
    margin-bottom 40px
    h1
      font-size 26px
    p
      font-size 16px
  section
    font-size 14px
    margin-bottom 40px
    h2
      padding 0
      line-height 100%
      margin-bottom 20px
      font-size 22px
    h3
      padding 0
      line-height 100%
      margin-bottom 20px
      font-size 18px
    p
      font-size 13px
.codes
  padding 10px
  background-color #f0f0f0
  color #656565

.container
  width 90%
  margin-left auto
  margin-right auto

.essence-logo-wrap
  display block
  width 380px
  max-width 100%
  height auto
  margin-top 40px
  margin-bottom 40px
  margin-left auto
  margin-right auto
.essence-logo
  fill #292929

footer
  text-align center
  font-size 10px
  color #b6b6b6
  margin 80px 0 10px 0
